/* fonts:
    font-family: 'Courier Prime', monospace;
    font-family: 'Concert One', cursive;
*/
body {
    background-image: url(../images/greek-vase.png);
    background-repeat: repeat;
    width: 960px;
    margin: 0 auto;
    font-family: 'Courier Prime', monospace;
}
.title {
    border: 10px #ff0067 groove;
    background: #00e6ff;
    text-align: center;
    font-size: 48px;
    font-family: 'Concert One', cursive;
    width: 70%;
    height: 60px;
    margin: 10px auto;
}
.body-style {
    border: 10px #00e6ff groove;
    padding: 10px;
    background: #f90;
    line-height: 1.5rem;
    margin-bottom: 10px;
}
.subtitle {
    font-size: 24px;
    font-family: 'Concert One', cursive;
}
.generated-num {
    float: left;
    margin-left: 20%;
    width: 20%;
    height: 90px;
}
.number {
    font-size: 48px;
    padding: 10px;
    text-align: center;
}
.scoreboard {
    float: right;
    margin-right: 20%;
    width: 20%;
    height: 90px;
    clear: right;
}
.images {
    display: inline-block;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 10px #ff0067 groove;
}
.pic-wrapper {
    width: 53%;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.player-points {
    width: 50%;
    margin: 0 auto;
}