/* fonts:
    font-family: 'Courier Prime', monospace;
    font-family: 'Concert One', cursive;
*/
body {
  background-image: url(../images/greek-vase.png);
  background-repeat: repeat;
  margin: 0 auto;
  font-family: "Courier Prime", monospace;
}
.title {
  border: 10px #ff0067 groove;
  background: #00e6ff;
  text-align: center;
  font-size: 48px;
  font-family: "Concert One", cursive;
  width: 70%;
  height: 60px;
  margin: 10px auto;
}
.container {
  display: flex;
  /*Change add width, add margin, add justify-content*/
  width: 70%;
  margin: 0 auto;
  justify-content: space-between;
}
.body-style {
  font-size: 14px;
  border: 10px #00e6ff groove;
  padding: 10px;
  background: #f90;
  line-height: 1.5rem;
  margin-bottom: 10px;
  /*Change add flex basis*/
  flex-basis: 30%;
}
.container-2 {
  /* display: inline-block; */
  /*Change add flex basis*/
  flex-basis: 66%;
  /* width: 50%; */
}
.subtitle {
  font-size: 24px;
  font-family: "Concert One", cursive;
}
.generated-num {
  width: 20%;
  height: 90px;
  /*Change add min-width, remove margin*/
  min-width: 160px;
}
.number {
  font-size: 48px;
  padding: 10px;
  text-align: center;
}
.scoreboard {
  width: 20%;
  height: 90px;
  /*Change add min-width, remove margin*/
  min-width: 160px;
}
.images {
  display: inline-block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border: 10px #ff0067 groove;
}
.pic-wrapper {
  /*Change width*/
  width: max-content;
  /*width: 53%;*/
  margin: 0 auto;
}
/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */
.player-points {
  width: 50%;
  margin: 0 auto;
}

/*Change add class*/
.number-goal {
  display: flex;
  justify-content: space-around;
}
